body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff8080, #80b3ff);

    margin:0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 330px;
    height: 330px;

    margin-top: 20px;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}

.cell.X {
    background-color: #ff8080;
    color: #ffffff;
}

.cell.O {
    background-color: #80b3ff;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.container {
    text-align: center;
}
